body {
  background-color: rgb(108, 107, 107);
  margin: 0;
}


div {
  background-color: rgb(108, 107, 107);

}

header{
  font-size: 0px; 
  text-align: center;
  background-color: rgb(41, 39, 39);
}


h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: rgb(41, 39, 39); 
  color: red;        
}


h2 {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(41, 39, 39); 
  color: red;         
}


p {
  font-family: 'Poppins', sans-serif;
  color: white;        
  font-size: 18px;  
}  


h5 {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(41, 39, 39);
  text-align: center;
  color: white;        
  font-size: 18px;    
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background-color: rgb(41, 39, 39);
  padding: 1rem;
  position: sticky; 
  top: 0;
}


nav ul {
  list-style: none;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: flex-start; 
}


nav ul li {
  text-align: center;
  margin-left: 20px;
}


nav ul li a {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: none;
  color: red;
  font-size: 24px;
  transition: color 0.3s;
}


nav ul li a:hover {
  color: #ffffff; 
}


body {
  background-color: rgb(108, 107, 107);;
  text-align: center;
  font-family: Arial, sans-serif;
}


.framed {
  width: 350px;             
  height: 300px;
  border: 5px solid #333;    
  border-radius: 10px;      
  margin: 15px;            
}

