body {
  background-color: rgb(43, 42, 42);
  margin: 0;
}


div {
  background-color: rgb(43, 42, 42);

}

header{
  font-size: 0px; 
  text-align: center;
  background-color: rgb(46, 30, 30);
}


h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: rgb(46, 30, 30); 
  color: red;        
}


h2 {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(46, 30, 30); 
  color: red;         
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
  color: white;        
  font-size: 18px;  
}  


h5 {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(46, 30, 30);
  text-align: center;
  color: white;        
  font-size: 18px;    
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background-image: radial-gradient(maroon , red, maroon);
  padding: 1rem;
  position: sticky; 
  top: 0;
}


nav ul {
  list-style: none;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: flex-start; 
}


nav ul li {
  text-align: center;
  margin-left: 20px;
}


nav ul li a {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: none;
  color: rgb(143, 136, 136);
  font-size: 24px;
  transition: color 0.3s;
}


nav ul li a:hover {
  color: #ffffff; 
}

a.link:hover {
  color: lightblue;
}

body {
  background-color: rgb(43, 42, 42);
  text-align: center;
  font-family: Arial, sans-serif;
}


.framed {
  width: 350px;             
  height: 300px;
  border: 5px solid #333;    
  border-radius: 10px;      
  margin: 15px;            
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #181717;
  border-radius: 50%;
  border-top: 16px solid #a10a05;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

img {
  width: 200px;   
  height: auto;  
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .container .imagebox {
    grid-row: 1;
  }

  .container .text1box {
    grid-row: 2;
  }

  .container .text2box {
  grid-row: span 3;
}
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
